html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgb(254, 252, 255);
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.main {
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
}


h1 {
    font-size: 26px;
    line-height: 30px;
    color: gray
}

a {
    & {
        color: white;
        transition: all .25s ease-in-out;
        text-decoration: none;
            /* убираем подчеркивание */
            color: inherit;
    }

    &:hover {
        color: red;
    }
}